* {
    margin: 0;
    padding: 0;
    border: 0;
}

.five-day {
    display: flex;
    flex-direction: row;
}
body {
    padding: 0;
    margin: 0;
}

header {
    background-color: steelblue;
    padding: 0;
    margin: 0;
}

.container-fluid {
    border: 1px solid red;
}